      <!-- Top Bar -->
  <!-- <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> +880 1626 014236
        </div>
        <div class="col-md-4">
          <h3>Market Basket Analysis</h3>
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://www.facebook.com/shajjadhossains1/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/shajjad-hossain-seam-b6ba641b0/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/shseam13/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/shseam13">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->