{% extends 'base.html' %}
{% load humanize %}
{% block content %}

  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Product Searching
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Eggs, Milks, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Catagory</label>
                  <select name="catagory" class="form-control">
                    <option selected="true" disabled="disabled">Catagory (All)</option>
                    {% for k,v in catagory_choices.items %}
                      <option value="{{ k }}">{{v}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for k,v in price_choices.items %}
                      <option value="{{ k }}">{{v}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Products</h3>
      <div class="row">
        {% if products %}
          {% for product in products %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ product.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">{{ product.price | intcomma }}Tk</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ product.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ product.catagory }}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Brand: {{product.brand}}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Delevary: {{product.delevary}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-balance-scale"></i> M/O: 
                    {% if product.catagory == 'Beverages'%}
                      {{ product.min_order }} Pcs
                    {% else %}
                      {{ product.min_order }} Kgs
                    {% endif %}
                  </div>
                  
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{ product.seller }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ product.list_date | naturaltime}}</div>
                </div>
                <hr>
                <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
        {% endif %}
        </div>

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Home Delivery</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Product Sellings</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}